<footer>
    <div class="newsletter">
        <span>SIGN UP TO OUR NEWS LETTER</span>
        <input type="text" placeholder="Full name">
        <input type="email" placeholder="Email address">
        <button>Submit</button>
    </div>

    <div class="menu">
        <img src="./logo.png" alt="logo" class="logo">

        <div class="links">
            <a href="/">home</a>
            <a href="/">our services</a>
            <a href="/">about us</a>
            <a href="/">testimonials</a>
            <a href="/">blog</a>
            <a href="/">contact us</a>
        </div>

        <div class="contact-info">
            <p>0800 700 699</p>
            <p>reception&#64;havenadvisers.co.nz</p>
        </div>
    </div>
    <p class="copyright">
        Copyright © 2017 Haven Advisers Limited. All rights reserved.
    </p>
</footer>