footer{
    background-color: #2D2D2D;
    padding: 0 3rem;
    color: white;

    .newsletter{
        padding: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;

        border-bottom: 1px solid white;

        span{
            letter-spacing: 2px;
            font-weight: 600;
            margin-right: 1.5rem;
        }

        input{
            width: 220px;
            background: none;
            border: 1px solid white;
            font-size: .9rem;
            padding: .5rem;
            margin-right: .7rem;
            color: white;
            outline: none;
        }

        button {
            background-color: #00BBE8;
            outline: none;
            color: white;
            font-size: .9rem;
            font-weight: 500;
            padding: .5rem 1rem;
            border: 1px solid #00BBE8;
        }

        ::placeholder{
            color: white;
            font-weight: 300;
        }
    }

    .menu{
        text-align: center;
        padding: 2rem 0;
        border-bottom: .5px solid rgba(255, 255, 255, 0.400);

        .logo{
            width: 100px;
        }

        .links{
            display: flex; 
            justify-content: center;

            a{
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                margin: 1rem;
                font-size: .7rem;
                opacity: .8;

                &:hover{
                    opacity: 1;
                }
            }
        }

        .contact-info{
            p{
                font-weight: 300;
                opacity: .7;
                margin: 0;
                font-size: .9rem;
            }
        }
    }

    .copyright{
        text-align: right;
        margin: 0;
        font-size: .9rem;
        font-weight: 300;
        opacity: .7;
        padding: .7rem 0 1rem 0;
    }
}

@media only screen and (max-width: 600px) {
    .newsletter{
        flex-flow: column;

        *{
            margin-bottom: 1rem;
        }
    }

    .menu{
        .links{
            flex-flow: column;
        }
    }

    .copyright{
        font-size: .5rem !important;
    }
}