<section class="learn-more">
    <div class="image">
        <img src="./video-img.png" alt="">
    </div>
    <div class="why">
        <h2>Why have a<br/>finanancial adviser?</h2>

        <p>
            Haven was created out of the need to simply do things better. With specialist advisers across a range of hinancial 
            services, we will offer you the best, practical advice tor your unique situation.
        </p>
        
        <p>
            Our financial advisers span the north and south island making us conveniently positened wherever you need us.
        </p>

        <div class="learn-more-btn">
            Learn more about our advisers
            <img src="./white-arrow.png" alt="">
        </div>
    </div>
</section>