.news{
    height: 100%;
    box-sizing: border-box;
    background-color: #F5F5F5;
    padding: 6rem 4rem 1.5rem;
    color: black;
}

h2{
    color: #00C6EB;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 1rem 0;
}

hr{
    background-color: #9D9D9D;
    height: 1.5px;
    border: none;
}

ul{
    list-style-type: none;
    color: #5B5B5B;
    font-size: 1.2rem;
    padding-inline-start: 0;
    margin-top: 3.5rem;
}

li{
    margin: 1.5rem 0;
    font-weight: 500;
    cursor: pointer;

    img{
        width: 12px;
        float: right;
        margin-right: 2rem;
        opacity: 15%;
    }
}

@media only screen and (max-width: 600px) {
    .news{
        padding: 1rem;

        .blog{
        font-size: 1rem;
        }
    }
}