/* You can add global styles to this file, and also import other style files */
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

body {
    margin: 0;
}